body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

main {
    width: 100%;
    height: 150vh;
    background-color: antiquewhite;
}

main p {
    color: #1a2847;
    margin: 0;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    padding: 70vh 0;
}

.navbar {
    display: flex;
    background-color: #1a2847;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

a {
    text-decoration: none;
    color: aliceblue;
}

.navbar__logo {
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__logo i {
    padding: 0.3em;
    font-size: 2rem;
}

.navbar__logo p {
    padding: 0.3em;
}

.navbar__menubar {
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    list-style: none;
    padding-left: 0;
    white-space: nowrap;
    flex-wrap: wrap;
}

.navbar__menubar li {
    padding: 0.8em;
}

.navbar__menubar li:hover {
    background-color: #d49466;
    border-radius: 8px;
}

.navbar__search {
    color: aliceblue;
    display: flex;
}

.navbar__search button {
    background: none;
    color: aliceblue;
    border: 1px solid aliceblue;
}

.navbar__search input {
    padding: 0.5rem;
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid aliceblue;
    margin-right: 1.5rem;
    font-size: 17px;
    background-color: transparent;
    outline: none;
    color: aliceblue;
}

.navbar__search input::placeholder {
    color: aliceblue;
}

.navbar__toggle {
    display: none;
    position: absolute;
    font-size: 1.5em;
    right: 1em;
    top: 0.5em;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar__logo {
        margin: 0.5em 0;
    }

    .navbar__logo i,
    .navbar__logo p {
        padding: 0 0.3em;
        margin: 0;
    }

    .navbar__menubar {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar__menubar li {
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }

    .navbar__menubar li a {
        display: block;
        width: 100%;
    }

    .navbar__menubar li:hover {
        border-radius: 0;
    }

    .navbar__search {
        display: none;
        justify-content: center;
        width: 100%;
        margin: 0.5em 0 1.5em 0;
    }

    .navbar__search input {
        margin-right: 0;
        width: 40%;
    }

    .navbar__toggle {
        display: block;
    }

    .navbar__menubar.active,
    .navbar__search.active {
        display: flex;
    }
}